

/** Navigation container **/

.connected-carousels .navigation {
    width: 100%;
    min-height: 170px;
    margin:  auto;
    position: relative;
   
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    display: inline;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.connected-carousels .carousel li {
    float: left;
    display: inline;
     overflow: hidden;
}

/** Stage carousel specific styles **/



/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 286px;
    
    background: #fff;
   
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 5px solid #fff;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}


/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: -15px;
    top: 50%;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: -15px;
    top: 50%;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
