@font-face {
    font-family: Roboto;
    src: url(../font/RobotoTTF/Roboto-Regular.ttf) format('truetype');
}
html {
    height: 100%;
    
}
body{
   background:#ececec; 
}
li{
    list-style: none;
}
* {
    
    font-family: Roboto, sans-serif;
}

div.clear{
    clear: both;
}

.div-headercontainer{
    width:1024px;
    margin: auto;    
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9
}

header{
    width: 100%;
    background: #f4f4f4;
    border-bottom: 1px solid #d9d9d9
}

.div-link-top{
    float:right;
    width:auto;
    margin:5px auto;
}

.div-link-top a:hover{
    text-decoration:underline;
}
.div-link-top a{
    text-align:center;
    display: inline-block;
}
.sep{
    margin:  0 5px;
}

.big-logo{
    width: 90px;
    height: 45px;
    float: left;
}
div.baner-introduction{
    margin-top: 20px;
    width: 750px;
    float: right;    
    background-color: transparent;
}

.baner-introduction > div{       
    display: table;    
    max-width: 250px;
    height: 48px;
    float: left;   
    padding-left: 54px;
}

.baner-introduction .giao-hang {    
    background: url("../img/Mini-Truck-01-48.png") no-repeat transparent;
    margin-right: 10px;
}


.baner-introduction .thanh-toan {
    background: url("../img/Money-48.png") no-repeat transparent;
    margin-right: 10px;
}

.baner-introduction .hot-line {
    background: url("../img/Contact-48.png") no-repeat transparent;
    width: inherit;
    color: red;
}

.introduction-text{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    line-height:  20px;
}
.normar-text{
    text-transform: none;
}

.control-bar{
    border: 0px solid black;
    width: 100%;
    height: 48px;
    margin-top: 20px;
}

.sidebar-box-heading{
    width: 270px;
    height: 48px;
    color: #fff;
    background: #ee3124;
    overflow: hidden;
    padding: 0px 20px 0px 20px;
    border-radius: 3px 3px 0 0;    
    display: table;
    box-sizing: border-box;
}
span{
    background: transparent;
}
.sidebar-box-heading span{
   line-height: 48px;
}
.sidebar-box-heading-text{
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.category{
    float: left;
   
}



.AD{
    width: 550px;
    float: left;
    position: relative;
    margin-left: 284px ;
}

.boddy{
  width: 90%;
  margin: auto;
}

.facebook-cn{
    float: left;
    width: 170px;
    height: 310px;
    margin-left: 14px;
    border: 1px solid black;
}

.div-register-mail-feed{
    float: left;
    margin-bottom: 0;
    margin-top: 20px;
    background-color: orange;
    border:none;
    color:white;
}
.div-register-mail-feed > .panel-body{
    padding: 5px 15px;
}
.lable-register-mail{
    line-height: 34px;
    font-size: 18px;
    font-style: italic;
}

.product{
    margin: auto;
    width: 1024px;    
    clear: right;
    border-bottom: 1px solid #e2d9d9;
    min-height: 256px;
    margin-bottom: 20px;
}
.product-head{
    float: left;
    width: 100%;
    height: 35px;
    background: rgb(246, 246, 246);
    clear: both;
    line-height: 35px;
}
.category-name{
    float: left;
    padding: 0 15px 0 15px;
    color: #454444;
    font-weight: bolder;
   
}
.category-sub{
    float:right;
    padding: 0 15px 0 15px;
}

.category-sub >a{
    margin: 0 3px;
}
.book{
    height: 276px;
    width: 170px;
    margin: 10px 15px;
}

.book-name, .book-price-1, .book-price-2, .book-price-3{
    text-align: center;
}
.book-name{
    max-height: 40px;
    overflow: visible;
    
}
.book-price-1{
    text-decoration:line-through;
}
.book-price-2{
    color: red;
    font-weight: bold;
}
.book-price-3{
    color:forestgreen;
}