/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2015, 10:26:49 PM
    Author     : vinh
*/

.menu-book{
    display: block;
    width: 270px;
    z-index: 90000;
}

.menu-book >ul{
    background: #058e3a;
    border-top: none;
    padding: 0px;
    position: relative;
    
}

.menu-book >ul >li{
    border:  5px red solid;
    border-top: none;
    border-bottom: none;
    display: block;
    padding-left: 54px;
    line-height: 24px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
    background-color: #fafaff;
    color: #4a4a4a;
}
.menu-book >ul >li:nth-child(2n){
    background: whitesmoke;
}

.menu-book >ul >li:last-child{
    border-bottom: red 5px solid;
}

.menu-book >ul >li:hover{
    color: white;
    background: #058e3a;
    border-right: none;
    border-left: yellow 5px solid;
}
.submenu-book{
    display: none;
    color: #4a4a4a;
    left: 269px;
    margin-top: 0px;
    border-radius: 0 5px 5px 0;
    min-width: 100px;
    background-color: inherit; 
}
.menu-book >ul >li:hover .submenu-book {
    display: inline-block;
    position: absolute;
    
}
.submenu-book >ul{
   padding: 0;
}
.submenu-book >ul >li{ 
    padding: 0 0px 0 25px;
}
.submenu-book a{
    display: block;
    color: white;
}

