/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2015, 11:37:41 PM
    Author     : vinh
*/
.Search-bar{
    width: 548px;
    float: left;
    position: relative;
    margin-left: 14px ;
}
.Search-bar .div-search-container{
    width: 446px;
    background: white url("../img/Search-32.png") no-repeat;
    background-origin: content-box;
    
}
#txt-search{
    border: none;
    margin-left: 40px;
    width: 90%;   
    padding: 0;
    outline: none;
    line-height: 30px;
}
.Search-bar > .form-control{   
    height: 44px;
}
.Search-bar #btn-search{
    float: right;
    padding: 6px 20px;
}