/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2015, 12:32:23 AM
    Author     : vinh
*/

.shop-cart{    
    float: left;
    position: relative;
    margin-left: 14px ;
    background: deepskyblue;
    padding: 0 10px;
           
    border-radius: 34px;  
    color: white;   
}

.shop-cart > a{
    color: white;   
    line-height: 44px;
}

#shop-cart-text{
    
    color: white;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
    font-size: 18px;
}

