body{font-family: Arial, Helvetica, sans-serif;font-size:12px;line-height:150%;background: url("../images/bg.png") repeat-x 0 9px transparent;margin:3px 0 0 0}
img {border:none; vertical-align:middle}
a:link, a:active, a:visited{color:#004B91; text-decoration:none}
a:hover{text-decoration:underline;color:#DD2C0D}

/**::-moz-selection {background: none repeat scroll 0 0 #B4D5FF;text-shadow: none;}*/
#header{position:relative}
#header img.logo{margin: -10px 0 10px;}
.header-inner{width:1000px; margin:0 auto;position:relative}
.clear{clear:both}
.nav-top {float: right;text-align: left;width: auto;}
.nav-top span.sep{color:#aaa; margin:0 5px}
.main-bar {height: 35px;overflow: visible;position:relative}
span.point{color:#E06800; font-weight:bold}
.user-info{float:right}
.user-add{position:absolute; right:0; top:20px; border:1px solid #dbdbdb; padding:1px 5px}
a.quanly{color:#888;border:1px solid #dbdbdb; display:block; padding:0px 15px 0 5px; float:right; background-color:#fff; margin-left:5px;background: url("../images/arrow_down.gif") no-repeat 50px 6px transparent; text-decoration:none}


.category{width:220px; height:35px; background: url("../images/category-head.png") no-repeat 0 0 transparent; float:left; position:absolute;}
ul.category-title{margin:0; padding:0; list-style-type:none}
ul.category-title li{margin:0; padding:0; list-style-type:none}
ul.category-title li a, ul.category-title li{display:block; text-align:center; line-height:35px; color:#fff; text-decoration:none; text-transform:uppercase; font-size:11pt; font-weight:bold}


.category .body{padding:2px 0px 0; background-color:#FFFBF2;border:1px solid #ffb21a; border-top:none;}
.category .body ul{padding:0; margin:0; list-style-type:none}
.category .body ul li{border-top: 1px solid #DDDDDD;height: 26px;line-height: 26px}
.category .body ul li:first-child{border-top:none}
.category .body ul li a{color: #666;font-weight: bold; text-decoration:none;margin: 0;display:block;padding-left:10px}
.category .body ul li a:hover,.ddsubmenustyle li a:hover{color:#FF8300}


.slider{margin-left:230px; float:left; width:540px; overflow:hidden; margin-bottom:10px}

.search-box{width:541px; height:35px; background: url("../images/search-box-bg.png") no-repeat 0 0 transparent; margin-left:230px; float:left}
.search-box .inputsearch {background: none repeat scroll 0 0 transparent;border: medium none;color: #AAAAAA;font-size: 12px;margin: 5px 0 0;padding: 5px 0 0 45px;width: 412px;float:left}
.searchbuton{width:80px; height:35px; float:left}
.shoppingcart{float:right; width:220px; height:35px}

.contentabc{width:1000px;margin:0 auto; margin-top:20px}

.banner-gioithieu{width:750px; float:right; color:#666; font-weight:bold; text-transform:uppercase; line-height:110%;margin:25px 0 26px 0 }
.banner-gioithieu a{color:#666;}

.banner-gioithieu .giaohang{width:140px; height:26px; float:left; margin-left:50px}
.banner-gioithieu .giaohang-icon{background: url("../images/uspSprite.png") no-repeat scroll -86px 0 transparent; width:34px; height:26px; float:left; margin-right:5px}
.banner-gioithieu .trahang{width:130px; height:26px; float:left; margin-left:50px}
.banner-gioithieu .trahang-icon{background: url("../images/document-icon.png") no-repeat scroll 0 0 transparent; width:32px; height:32px; float:left; margin-right:5px}
.banner-gioithieu .thanhtoan{width:130px; height:26px; float:left; margin-left:50px}
.banner-gioithieu .thanhtoan-icon{background: url("../images/uspSprite.png") no-repeat scroll -60px 0 transparent; width:26px; height:26px; float:left; margin-right:4px}




.banner-gioithieu .hotline{width:150px; height:26px; float:left; margin-left:50px}
.banner-gioithieu .hotline-icon{background: url("../images/uspSprite.png") no-repeat scroll 0px 0 transparent; width:28px; height:26px; float:left; margin-right:4px}
.banner-gioithieu .hotline .hotline-red{color:#FF0000}
.home-middle{overflow:hidden; margin-bottom:15px}

.right-home{width:220px; overflow:hidden; float:right;border:1px solid #dbdbdb}

.box-home{margin-bottom:20px; border:1px solid #eaeaea; border-top:none; padding-bottom:20px}
.box-home .title{height:26px; border-top:2px solid #ffb21a; background: url("../images/bg-title-box.png") repeat-x scroll 0px 0 transparent;}
.box-home .title h3{float:left;line-height:26px; padding-left:17px; font-weight:bold; color:#111; text-transform:uppercase; font-size:13px; margin:0; background: url("../images/arrow-category.gif") no-repeat scroll 5px 6px transparent;}
.box-home .sub{float:right; line-height:26px; padding-right:10px}
.box-home ul{list-style-type:none; margin:0; padding:0; margin:0px 0; overflow:hidden}
.box-home ul li{width:160px; float:left; margin:30px 18px 0; position:relative}
.box-home .price-old{color: #222;font-size: 11px;font-weight: normal;height: 1.2em;text-decoration: line-through;}
.box-home .price{color: #BB0000;font-weight: bold;font-size:13px; font-family:Tahoma}
.box-home .phantram{line-height:120%;background-color: #BB0000;border-radius: 2px 2px 2px 2px;color: #FFFFFF;display: inline;font-size:11px;font-weight: bold;margin: -0.5em 0 0 0.7em;padding: 3px 4px;position: absolute;}
.box-home .model-name{clear:both; padding-top:5px}
.box-home .model-name a{color:#004B91; margin-top:5px; text-decoration:none}
.box-home .img{width:160px; height:160px}

.news-box-home,.facebook-box-home{height:290px;border:1px solid #dbdbdb; border-top:1px solid #FFB21A; width:324px; float:left; margin-right:10px;background: url("../images/bg-news-home.gif") repeat-x scroll 0 bottom transparent; overflow:hidden;}

.news-box-home .title,.facebook-box-home .title{background: url("../images/bg-title-box.png") repeat-x scroll 0 0 transparent; color: #666666;font-size: 13px;font-weight: bold;height: 26px;line-height: 26px;padding-left: 10px;text-transform: uppercase;}
.news-box-home-last{margin-right:0}
.news-box-home{}
.news-box-home ul{list-style-type:none; margin:5px 5px 10px 10px; padding:0}
.news-box-home ul li{background: url("../images/bullet-red.gif") no-repeat scroll 0 7px transparent; padding:0 0 3px 10px; margin:0;}
.facebook-box-home{width:348px; float:right; margin-right:0}
.facebook-box-home .title{background-color:#F3F3F3}

.footer-menu{background: url("../images/bg-top-footer.gif") repeat-x scroll 0 top #f1f1f1; margin-top:20px; border-bottom:1px solid #e7e7e7; overflow:hidden; padding-bottom:10px}
.footer-menu .title, .footer-menu .body{width:1000px; margin:0 auto;}
 .footer-menu .body{padding:15px 0 10px; overflow:hidden}
.footer-menu .title .item{width:25%;color: #999;font-size: 14px;font-weight: bold; float:left;}
.footer-menu .title span{border-bottom:3px solid #999; line-height:36px; padding: 0 10px 6px 0}

.footer-menu .body ul{padding:0; margin:0; list-style-type:none; width:25%; float:left}
.footer-menu .body ul li{height: 22px;line-height: 22px;background: url("../images/bullet-footer.gif") no-repeat scroll 0 7px transparent; padding:0 0 0 3px; margin:0;}
.footer-menu .body ul li a{color: #666;text-decoration:none;margin: 0 7px;}
.footer-menu .body ul li a:hover{text-decoration:underline}

.footer{border-top:1px solid #fff; background-color:#f9f9f9; padding:15px 0 20px; overflow:hidden; text-align:right; color:#777}
.footer div{margin:0 auto; width:1000px}
.footer p{margin:0;}

.info{background:url("../images/info-bg.png") no-repeat 0 0 transparent; width:220px; height:280px;}
.info .body{padding:50px 15px 10px; text-align:left}
.info .body ul{padding:0;margin:2px 0 0 0; list-style-type:none}
.info .body ul li{margin:0; padding:4px 0 0 12px; background: url("../images/bullet-red.gif") no-repeat scroll 0 10px transparent;}
.info .body p{margin:0;}

.left{width:220px; float:left}
.menu-left .title{background-color:#267ABA; height:30px;border-radius: 5px 5px 0 0;}
.menu-left .title h2{color:#fff; text-align:center; line-height:30px; margin:0 5px; font-size:14px}
.menu-left .body{border:1px solid #dbdbdb;border-radius: 0 0 5px 5px;margin-bottom:10px; padding:5px}
.menu-left .body ul{list-style-type:none;margin:0;padding:0 0 0 5px}
.menu-left .body ul li{margin:0; padding:0; border-top: 1px solid #E6E6E6; background: url("../images/arrow_right_orange_small.png") no-repeat scroll 0px 10px transparent}
.menu-left .body ul li:first-child{border-top:none}
.menu-left .body a{line-height:28px; padding:0 10px; display:block}
.menu-left .body a.active{color:#000; font-weight:bold}
.menu-left .body ul li ul{padding-left:0px; }
.menu-left .body ul li ul li{background:none}
.menu-left .body ul li ul li:first-child{border-top:1px solid #E6E6E6}
.menu-left .body ul li ul li a{padding-left:20px}
.menu-left .body ul li ul li a.active{font-weight:normal}

.support .title{background-color:#BFBFBF; height:30px;border-radius: 5px 5px 0 0;}
.support .title h2{color:#fff; text-align:center; line-height:30px; margin:0; font-size:15px;}
.support .body{border:1px solid #dbdbdb;border-radius: 0 0 5px 5px;margin-bottom:10px; padding:5px}
.support .body ul{list-style-type:none;margin:0;padding:0 0 0 5px}
.support .body ul li{margin:0; padding:0;}
.support .body a{padding:0 0 3px; display:block;}
.support .body img{float:left; margin:1px 5px}


.right{width:770px; float:right}
.right .title-pcat{background: url("../images/bg-pcat-1.png") no-repeat scroll right top transparent; height:33px}
.right .title-pcat .f{background: url("../images/bg-pcat-2.png") no-repeat scroll left top transparent; height:33px; width:10px; float:left}
.right .title-pcat h1{color:#115D93; margin:0; line-height:33px; background: url("../images/bg-pcat-2.png") no-repeat scroll right top transparent; float:left;padding-right:20px; font-size:14px}

.pcat ul{list-style-type:none; margin:0; padding:0; margin:0px 0; overflow:hidden}
.pcat ul li{width:156px; float:left; margin:20px 8px 20px 27px; position:relative}
.pcat .price-old{color: #222;font-size: 11px;font-weight: normal;height: 1.2em;text-decoration: line-through;}
.pcat .price{color: #BB0000;font-weight: bold;font-size:13px; font-family:Tahoma}
.pcat .phantram{line-height:120%;background-color: #BB0000;border-radius: 2px 2px 2px 2px;color: #FFFFFF;display: inline;font-size:11px;font-weight: bold;margin: -0.5em 0 0 0.7em;padding: 3px 4px;position: absolute;}
.pcat .model-name{clear:both; padding-top:5px}
.pcat .model-name a{color:#004B91; margin-top:5px; text-decoration:none}
.pcat .img{width:160px; height:160px}

.new_product {
    background: url("../images/moi.png") no-repeat scroll 0 0 transparent;
    color: #FFF684;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 0 !important;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0px;
    width: 72px;
    font-family:Verdana;
}
.sale_off_details {
    background: url("../images/saleoff2.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    margin: 0 !important;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 55px;
}

.dis-price {
    background: url("../images/dis-price.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 !important;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 50px;
}




#crumbs {border: 1px solid #DEDEDE;height: 2.3em;list-style-image: none;list-style-type: none;margin: 0 0 10px;padding: 0;}
#crumbs li {padding: 0;}
ul#crumbs li {color: #777777;float:left;line-height: 2.3em;padding-left: 0.75em;}
ul#crumbs li a {background: url("../images/crumbs.gif") no-repeat scroll right center transparent;display: block;padding: 0 15px 0 0;}
ul#crumbs li a img {display: block;padding: 6px 5px;}
#crumbs li a:link, #crumbs li a:visited {color: #393939;text-decoration: none;}
ul#crumbs li a:hover, ul#crumbs li a:focus {color: #DD2C0D;}

/**************** details **************/
.details-img{width:260px;float:left;margin:10px 20px 30px 0;text-align:center;position:relative}
.details-info{width:490px;float:left;margin-top:0px;}
.details-info h1{margin:5px 0 20px; line-height:26px;color:#004D91;font-size: 15pt;font-weight:bold}
.details-info .if .left{float:left;padding:5px 20px 0 0;width:110px;}
.details-info .if .right{float:left;padding:5px 20px 0 0;width:200px;}
.price{color: #D70B14;font-weight: bold;padding:5px 0 0 0;font-size:12pt; font-family:Tahoma}
.price_old{color: #999;font-weight: bold;padding:5px 0 0 0;text-decoration:line-through}
a.addcart{width:118px;height:35px;background:url('../images/btn_AddToCart.gif');display:block;margin:20px 0;font-weight:bold;padding:9px 0 0 57px;color:#30240f;}
.details-info p{margin:15px 0 3px;}
.action{overflow: hidden;padding-bottom: 10px;width: 290px;}
.action a{color: #5A5A5A;}
.action a:hover{text-decoration: underline;}
.action a.edit{background: url("../images/edit.png") no-repeat scroll 0 0 transparent;display: block;float: left;margin-left: 0px;padding-left: 20px;}


.partner{text-align:center; padding-right:10px; border: 1px solid #DBDBDB;border-radius: 5px 5px; padding-bottom:20px}
.partner img{margin:20px 0 0 0px; width:160px; }

.box-details{margin-bottom:10px; border:1px solid #eaeaea; border-top:none}
.box-details .title{height:26px; border-top:2px solid #ffb21a; background: url("../images/bg-title-box.png") repeat-x scroll 0px 0 transparent;}
.box-details .title h3{float:left;line-height:26px; padding-left:17px; font-weight:bold; color:#111; text-transform:uppercase; font-size:13px; margin:0; background: url("../images/arrow-category.gif") no-repeat scroll 5px 6px transparent;}
.box-details .sub, .box-home .sub{float:right; line-height:26px; padding-right:10px; font-family:Tahoma}
.box-details .intro{padding: 5px 10px}

.bullet ul{padding:0;margin:5px 0 10px 10px; list-style-type:none}
.bullet ul li{margin:0; padding:4px 0 0 12px; background: url("../images/bullet-red.gif") no-repeat scroll 0 10px transparent;}

/************ Phan trang ************/
.paging{float:right; margin-top:20px;}
#tblPaging{text-align: right;}
#tblPaging span.firstPage{color: #777777;font-weight: bold;}
#tblPaging span.lastPage{color: #777777;font-weight: bold;}
#tblPaging span.prevPage{color: #777777;font-weight: bold;}
#tblPaging span.nextPage{color: #777777;font-weight: bold;}
#tblPaging .selectedPage a{background-color: #EF780E;border: 1px solid #BF600B;color: #FFFFFF;font-weight: bold;padding: 2px 5px;}
#tblPaging .pageNo a{border: 1px solid #CCCCCC;color: #777777;font-weight: bold;padding: 2px 5px;}
#tblPaging .pageNo a:hover{background-color: #DBDBDB;border: 1px solid #CCCCCC;color: #777777;font-weight: bold;padding: 2px 5px;text-decoration: none;}
#tblPaging .alias{padding-right:10px;}


.shopping-cart .price{font-size:12px}
.font_blue_max {color: #CC4E00;font-size: 14px;font-weight: bold;}
.font_price{color:#ff0000; font-weight:bold; font-family:Tahoma}

#loading-mask-giftwrap {color: #D85909;font-size: 1.1em;font-weight: bold;left: 40%;position: absolute;text-align: center;top: 40%;z-index: 500;}
#loading-mask-giftwrap .loader-giftwrap {background: none repeat scroll 0 0 #FFF4E9;border: 2px solid #F1AF73;color: #D85909;font-weight: bold;left: 50%;margin-left: -60px;padding: 15px 60px;position: fixed;text-align: center;top: 45%;width: 150px;z-index: 1000;}




.news_item {
    border-top: 1px solid #DCDCDC;
    margin: 0 0px 10px;
    overflow: hidden;
    padding-top: 10px;
    text-align: justify;
}
.font_title {
    color: #024F93;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin:0 0 5px;
}
.font_title a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin:0;
}
.font_title a:hover {
    color: #F1592A;
}
.imgLeft {
    border: 1px solid #DCDCDC;
    float: left;
    margin: 0 10px 5px 0;
    padding: 1px;
}
.article_details p
{
    text-align:justify;
}

.font_date {
    color: #686868;
    font-size: 11px;
    line-height: 100%;
    font-style:italic;
    margin:0;
    padding:0;
}


.comment
{
background: url("../images/bg-news-home.gif") repeat-x scroll 0 bottom transparent;
}

.bg_direct {
    background: url("../images/comment_send.png") no-repeat scroll 8px top transparent;
    height: 12px;
    margin: 0 10px;
    overflow: hidden;
    padding: 0 10px;
}
.comment_send {
    border: 1px solid #DCDCDC;
    margin: 0 10px 15px;
    overflow: hidden;
    background-color:#FFF;
}

.comment_send .title1
{
    border-bottom: 1px solid #EAEAEA; padding: 10px; overflow: hidden;
    background:url('../images/comment_send_title.gif') repeat-x top left #FFF;
}
.comment_send .action
{
     float: right; width: 25px;
}


.comment_send .content
{
    clear:both;
    padding:10px;
}

.yourcomment input[type="text"] 
{
    background:none;
    border: 1px solid #B0C4DE;
    height: 18px;
    padding: 0 2px;
}

.font_date {
    color: #686868;
    font-size: 11px;
    line-height: 100%;
}



.fleft
{
    float:left;
}

.ratings1 {
    line-height: 1em;
    margin: 7px 0;
    white-space: nowrap;
}
.rating-box {
    background: url("../images/product_rating_blank_star.gif") repeat-x scroll 0 0 transparent;
    float: left;
    height: 13px;
    margin: 2px 5px 0 0;
    width: 69px;
}
.rating-box .rating1 {
    background: url("../images/product_rating_full_star.gif") repeat-x scroll 0 0 transparent;
    height: 13px;
}


.ratingStar {background-repeat: no-repeat;cursor: pointer;display: block;font-size: 0;height: 12px;margin: 0;padding: 0;width: 13px;}
.ratinglike{border:1px solid #DBDBDB; overflow:hidden; padding:0 10px}
.rating{background-repeat: no-repeat; cursor: pointer;display: block;height:24px;width:24px;}
.ratingFill{background:url("../images/stars24.png") 0 24px transparent;}
.ratingEmpty{background:url("../images/stars24.png") 0 0 transparent;}
.ratingLoad{background:url("../images/stars24.png") 0 48px transparent;}
.designby
{
    color:#636363;
    font-size:11px;
}

.newletter{width:1000px; height:40px; background-image:url("../images/newsletter.png")}
.newletter input[type="text"]{border:none; margin:10px 20px 0 555px; width:320px; background:none; color:#666}
.newletter input[type="submit"]{border:none; background:none; color:#fff; font-weight:bold; font-family:Tahoma; cursor:pointer;}


.msgBoxSuccess{color:#156200;background-color: #D0F3C7;border: 1px solid #219801;padding:5px; margin-bottom:10px}






div.question
{
    margin: 0px 10px;
    padding: 0px;
    overflow: hidden;
}

div.question h4{
    margin:0;
    padding:0;
    color:#004b91;
}
div.question div.item
{
    margin: 10px 0px;
    border: 1px solid #dcdcdc;
    padding: 10px 0 5px 5px;
    list-style-position: outside;
    overflow: hidden;
    -moz-border-radius: 8px;
    -webkit-border-radius: 5px;
}
div.question div.tuvantraloi
{
    background: url(../images/ico_answer.gif) no-repeat 440px 3px;
}
div.question p
{
    margin: 15px 0px;
    display: block;
    text-indent: 10px;
    text-align: justify;
}
div.question span.date
{
    font-size: 11px;
    display: block;
}
div.question span.date a
{
    font-size: 11px;
}

div.question .avatar
{
    border: 1px solid #dcdcdc;
    padding: 1px;
    float: left;
    margin-right: 7px;
}
ul.question span.date
{
    clear: both;
    display: block;
    font-size: 11px;
    padding-left: 15px;
}
span.document-des
{
    clear: both;
    display: block;
    font-size: 11px;
    margin-top: 3px;
}

span.document-des a
{
    font-size: 11px;
    margin-top: 3px;
}

.upload_icon
{
    background: url("../images/Upload-icon.png") no-repeat scroll left top transparent;
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 0 5px 30px;
}


.rv_tdcapcha input
{
    background-color: #FDFDFD;
    border: 1px solid #B0C4DE;
    font: bold 19px Verdana,Arial;
    text-align: center;
    text-transform: uppercase;
}












